{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2016, // Allows for async/await over pure ES6
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "prefer-const": ["error", {
      "destructuring": "all"
    }],
    "@typescript-eslint/explicit-function-return-type": ["warn", {
      "allowExpressions": true
    }],
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}